/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 body {
   padding: 0px;
   
   font-family: 'Tw Cen MT'!important;
}


img {
   max-width: 100%;
}
   
.llamando-turnos {
   -webkit-box-shadow: 10px 10px 20px 1px rgba(41,41,41,0.93);
   -moz-box-shadow: 10px 10px 20px 1px rgba(41,41,41,0.93);
   box-shadow: 10px 10px 20px 1px rgba(41,41,41,0.93);

   text-shadow: #969696 1px 3px 0, #EEEEEE 1px 13px 5px;
   
   font-size: 6em; 
   font-weight: bold;
   
   z-index: 10;
 }
 
 .area-publicidad {
   margin: 0px;
   padding: 0px;
   
   /*z-index: -1;*/
 }
 
 .carrusel {
   border: none;
   width: 90%;
   margin: auto;
 }
 
 .turnos-atendiendo {
   position: absolute;
   z-index: -1;
   text-align: center;
   font-size: 250%;
   font-weight: bold;
 }













